body {
  background-color: #1d1e20;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  background-color: #242426;
  margin: 40px 0px 0px 20px;
  width: 70px;
  height: 640px;
}
.menu > img {
  width: 25px;
  position: relative;
  margin: 0px auto auto 0px;
  background-color: #00a269;
  border: 23.5px solid #00a269;
}
.main img {
  width: 35px;
  position: relative;
  margin: 170px auto -140px 18px;
}
.image img {
  width: 600px;
  height: 640px;
  position: absolute;
  margin-left: 90px;
  margin-top: -640px;
  z-index: 1;
  opacity: 0.85;
  transition: 1s;
}
.image img:hover {
  transform: scale(1.05);
}
.history h1 {
  color: #c8c8c8;
  font-size: 100px;
}
.history {
  position: absolute;
  margin: -720px 0px 0px 750px;
}
#basis {
  color: #00a269;
  font-size: 20px;
  margin: -50px 0px 0px 0px;
}
#aboutMe {
  font-size: 19px;
  color: #8f8f8f;
  width: 700px;
  line-height: 25px;
}
hr {
  height: 0.5px;
  background-color: #8f8f8f;
  border: none;
}
#interests {
  color: #00a269;
  font-size: 25px;
  margin: 15px 0px 0px 300px;
}
.affers p:nth-child(2n + 1) {
  color: #c8c8c8;
  font-size: 18px;
  font-weight: normal;
  margin-top: 4px;
  width: 200px;
}
.affers p:nth-child(2n) {
  color: #8f8f8f;
  width: 280px;
  margin-top: 10px;
}
.affers2 p:nth-child(2n + 1) {
  color: #c8c8c8;
  font-size: 18px;
  font-weight: normal;
  margin-top: -232px;
  margin-left: 390px;
  padding-top: 14px;
  width: 200px;
  position: relative;
}
.affers2 p:nth-child(2n) {
  color: #8f8f8f;
  position: relative;
  width: 350px;
  padding-top: 2px;
  margin: 0px 0px 0px 390px;
}
.karina {
  background-color: #242426;
  width: 675px;
  height: 70px;
  margin: -60px auto auto 18px;
  position: absolute;
  z-index: 5;
  opacity: 0.9;
}
.karina h1 {
  font-size: 60px;
  color: #00a269;
  margin: 0px auto auto 160px;
  font-family: sans-serif;
}
.page2 h1 {
  color: #c8c8c8;
  font-size: 80px;
  margin: 80px auto auto 20px;
}
.language {
  background-color: #242426;
  width: 400px;
  height: 300px;
  margin: 60px auto auto 70px;
  border-radius: 60px;
  border: 0.5px solid #00a269;
  position: relative;
  transition: 1s;
}
.language:hover {
  transform: scale(1.1);
}
.language h1 {
  font-size: 30px;
  margin: 10px auto auto 120px;
}
.language p {
  font-size: 20px;
  color: #8f8f8f;
  text-align: center;
  margin: 30px auto auto 0px;
}
.frontend {
  background-color: #242426;
  width: 400px;
  height: 300px;
  margin: -300px auto auto 550px;
  border-radius: 60px;
  border: 0.5px solid #00a269;
  transition: 1s;
}
.frontend:hover {
  transform: scale(1.1);
}
.frontend h1 {
  font-size: 30px;
  margin: 10px auto auto 140px;
}
.frontend p {
  font-size: 20px;
  color: #8f8f8f;
  text-align: center;
  margin: 30px auto auto 0px;
}
.backend {
  background-color: #242426;
  width: 400px;
  height: 300px;
  margin: -300px auto auto 1030px;
  border-radius: 60px;
  border: 0.5px solid #00a269;
  transition: 1s;
}
.backend:hover {
  transform: scale(1.1);
}
.backend h1 {
  font-size: 30px;
  margin: 10px auto auto 135px;
}
.backend p {
  font-size: 20px;
  color: #8f8f8f;
  margin: 30px auto auto 0px;
  text-align: center;
}
.design {
  background-color: #242426;
  width: 400px;
  height: 300px;
  margin: 60px auto auto 310px;
  border-radius: 60px;
  border: 0.5px solid #00a269;
  transition: 1s;
}
.design:hover {
  transform: scale(1.1);
}
.design h1 {
  font-size: 30px;
  margin: 10px auto auto 150px;
}
.design p {
  font-size: 20px;
  color: #8f8f8f;
  margin: 30px auto auto 0px;
  text-align: center;
}
.soft {
  background-color: #242426;
  width: 400px;
  height: 300px;
  margin: -300px auto auto 790px;
  border-radius: 60px;
  border: 0.5px solid #00a269;
  transition: 1s;
}
.soft:hover {
  transform: scale(1.1);
}
.soft h1 {
  font-size: 30px;
  margin: 10px auto auto 130px;
}
.soft p {
  font-size: 20px;
  color: #8f8f8f;
  margin: 30px auto auto 0px;
  text-align: center;
}
.page3 h1 {
  font-size: 80px;
  color: #c8c8c8;
  position: relative;
  margin: 50px auto auto 1140px;
}
.footer img {
  width: 40px;
  position: relative;
}
.footer img:nth-child(1) {
  padding: 0px 0px 0px 30px;
  position: relative;
}
@media (min-width: 1600px) {
  .menu {
    margin: 40px 0px 0px 40px;
    width: 70px;
    height: 850px;
  }
  .image img {
    width: 770px;
    height: 820px;
    margin-left: 110px;
    margin-top: -850px;
  }
  .history h1 {
    font-size: 120px;
  }
  .history {
    margin: -900px 0px 0px 980px;
  }
  #basis {
    font-size: 30px;
    margin: -50px 0px 0px 0px;
  }
  #aboutMe {
    font-size: 20px;
    width: 800px;
    line-height: 30px;
  }
  #interests {
    font-size: 30px;
    margin: 15px 0px 0px 340px;
  }
  .affers p:nth-child(2n + 1) {
    font-size: 22px;
    margin-top: 10px;
    width: 400px;
  }
  .affers p:nth-child(2n) {
    width: 400px;
    margin-top: 0px;
    font-size: 20px;
  }
  .affers2 p:nth-child(2n + 1) {
    font-size: 22px;
    margin-top: -292px;
    margin-left: 440px;
    width: 200px;
    padding-top: 20px;
  }
  .affers2 p:nth-child(2n) {
    width: 450px;
    margin: -5px 0px 0px 440px;
    padding-top: 2px;
  }
  .karina {
    width: 780px;
    height: 100px;
    margin: -100px auto auto 100px;
  }
  .karina h1 {
    font-size: 80px;
    margin: 0px auto auto 120px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .language {
    width: 400px;
    height: 300px;
    margin: 60px auto auto 170px;
  }
  .language h1 {
    font-size: 40px;
    margin: 10px auto auto 100px;
  }
  .language p {
    font-size: 22px;
    margin: 30px auto auto 0px;
  }
  .frontend {
    margin: -300px auto auto 730px;
  }
  .frontend h1 {
    font-size: 40px;
    margin: 10px auto auto 120px;
  }
  .frontend p {
    font-size: 22px;
    margin: 30px auto auto 0px;
  }
  .backend {
    margin: -300px auto auto 1300px;
  }
  .backend h1 {
    font-size: 40px;
    margin: 10px auto auto 120px;
  }
  .backend p {
    font-size: 22px;
    margin: 30px auto auto 0px;
  }
  .design {
    margin: 140px auto auto 440px;
  }
  .design h1 {
    font-size: 40px;
    margin: 10px auto auto 140px;
  }
  .design p {
    font-size: 22px;
    margin: 30px auto auto 0px;
  }
  .soft {
    margin: -300px auto auto 1020px;
  }
  .soft h1 {
    font-size: 40px;
    margin: 10px auto auto 110px;
  }
  .soft p {
    font-size: 22px;
    margin: 30px auto auto 0px;
  }
  .page3 h1 {
    font-size: 80px;
    margin: 50px auto auto 1520px;
  }
}
